<div class="index-banner" style="background-image: url('<%= image_path 'indexlandingpage2.jpg' %>');">
  <div class="index-banner-title">
    <h1>Browse </h1>
  </div>
</div>
<div class="card_wrapper">
  <div class="card_container">
    <div class="row">
      <%= render 'partials/prep-card' %>
    </div>
  </div>
</div>
<div class="index-map-wrapper">
  <div class="index-map-container" style="background-image: url('https://meteorcapture.com/content/images/2015/03/Screen-Shot-2015-03-26-at-6-06-45-pm-1.png')">
  </div>
</div>
<%= link_to "Make a New Meal Prep Event", new_prep_path %>