<h1>meal preps</h1>
<div class="card_wrapper">
  <div class="card_container">
    <div class="row">
      <%= render 'partials/prep-card' %>
    </div>
  </div>
</div>
<%= link_to "Make a New Meal Prep Event", new_prep_path %>