<div class="index-banner" style="background-image: url('<%= image_path 'indexlandingpage2.jpg' %>');">
  <div class="index-banner-title">
    <h1>Discover</h1>
  </div>
</div>
<div class="card_wrapper">
  <div class="map_wrapper">
    <div id="map" data-markers="<%= @markers.to_json %>">
    </div>
  </div>
  <div class="card_container">
    <div class="row">
      <%= render 'partials/prep-card' %>
    </div>
  </div>
</div>