// Specific CSS for your home-page
.landing_banner {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  height: 70vh;
  background-size: cover;
  background-position: left 50% bottom 65%;
}

.landing_banner-container {
  text-align: center;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 12%;
}

.banner-btn-red {
  padding: 17px 35px;
  background-color: #F1574B;
  color: white;
  border-radius: 50px;
  border: solid #F1574B;
  a {
  text-decoration: none;
  margin-top: 50px;
  }
  &:hover {
  color: #F1574B;
  text-decoration: none;
  background-color: white;
  border: solid #F1574B;
  }
}

.landing_wrapper-review {
  height: 25vh;
  background-color: #2A2632;
  display: flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
}

.landing_wrapper-review_container {
  position: relative;
  color: white;
}

.landing_wrapper-about {
  background-color: #F6F3F0;
}

.landing_info-banner {
    height: 70vh;
    background-size: cover;
    background-position: left 50% bottom 50%;
}

.landing_card-about {
  text-align: center;
  padding-top: 15%;
  border-radius: 5px;
  height: 350px;
}

.landing_card-about-icon {
  font-size: 60px;
  margin-bottom: 10px;
}

.landing_card-about-title {
  font-size: 30px;
}

.landing_card-about-body {
  font-size: 20px;
}

.landing_info-banner-inner {
  margin: auto;
  max-width: 1200px;
  overflow: hidden;
}

.landing_why-prep-card {
  width: 41%;
  margin-top: 50px;
  border-radius: 5px;
  background-color: #F1574B;
  height: 40%;
  text-align: center;
  padding: 14px;
  position: relative;
  display: flex;
  justify-content: space-around;
  .landing_why-prep-body {
    text-align: center;
    justify-content: center;
    color: white;
    width: 80%;
    font-weight: light;
    font-size: 16px;
    h1 {
      font-weight: bolder;
    }
  }
}

.landing_example-wrapper {
    height: 70vh;
}


.landing_friends-banner {
    height: 70vh;
    background-size: cover;
    background-position: left 50% bottom 50%;
}

.landing_friends-banner-inner {
  margin: auto;
  max-width: 1200px;
  overflow: hidden;
  display: flex;
  justify-content: flex-end;
}

.landing_friends-prep-card {
    width: 42%;
    margin-top: 50px;
    border-radius: 5px;
    background-color: #F1574B;
    padding: 14px;
    display: flex;
    align-items: center;
    align-content: center;
    display: flex;
    justify-content: space-around;
  .landing_friends-prep-body {
    text-align: center;
    justify-content: center;
    color: white;
    width: 80%;
    font-weight: light;
    font-size: 16px;
    h1 {
      font-weight: bolder;
    }
  }
}

.landing_bottom-container {
}


