// Specific CSS for your home-page
.landing_banner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 70px);
  background-size: cover;
  background-position: left 50% bottom 85%;
}

.landing_banner-container {
  text-align: center;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 12%;
}

.banner-btn-red {
  padding: 17px 35px;
  background-color: #F1574B;
  color: white;
  border-radius: 50px;
  border: solid #F1574B;
  a {
  text-decoration: none;
  margin-top: 50px;
  }
  &:hover {
  color: #F1574B;
  text-decoration: none;
  background-color: white;
  border: solid #F1574B;
  }
}

.landing_wrapper-review {
  height: 30vh;
  background-color: #2A2632;
  display: flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
}

.landing_wrapper-review_container {
  position: relative;
  color: white;
}

.landing_wrapper-about {
  background-color: #F6F3F0;
}

.landing_info-banner {
    height: 70vh;
    background-size: cover;
    background-position: left 50% bottom 38%;
    opacity: 0.8;
}

.landing_card-about {
  text-align: center;
  padding-top: 15%;
}

.landing_card-about-icon {
  font-size: 60px;
  margin-bottom: 10px;
}

.landing_card-about-title {
  font-size: 30px;
}

.landing_card-about-body {
  font-size: 20px;
}

.landing_info-banner-title {
  color: white;
  font-weight: bolder;
  font-size: 80px;
  text-shadow: 1px 1px 13px rgba(0, 0, 0, 0.2);
}
