@import "home";
@import "show";

.index-banner {
  background-size: cover;
  background-position: bottom 30% right 50%;
  height: 60vh;
  opacity: 0.65;
  display: flex;
  justify-content: center;
  align-items: center;
  background-attachment: fixed;
  h1 {
    color: white;
    font-weight: bolder;
    font-size: 80px;
    text-shadow: 1px 1px 13px rgba(0,0,0,0.2);
  }
}

.index-banner-title {
  font-weight: bolder;
  font-size: 80px;
  text-shadow: 1px 1px 13px rgba(0,0,0,0.2);
}

.card_wrapper {
  background-color: white;
  text-align: center;
}

#map {
  height: 100%;
  width: 100%;
  border-radius: 15px;
}

.map_wrapper {
  height: 50vh;
  width: 100vw;
  padding: 60px 60px 0px 60px;

}

.map-wrapper {
  height: 60vh;
  width: 100vw;
  text-align: center;
  padding: 45px;
}

.button-group {
  z-index: 50;
}

