<div class="footer">
  <div class="footer-inner container">
    <div class="row">
      <div class="col col-xs-12 col-sm-6">
        <div class="footer-column-logo">
          <a href="/"><strong>prep</strong>Club</a>
        </div>
      </div>
      <div class="col col-xs-12  col-sm-6">
        <div class="footer-column-developers">
          <div class="footer-developer-details">
            <div class="footer-developer-details-alex">
              <a href="#" style>Alex Smith</a>
              <div class="footer-links">
                <a href="https://github.com/smithavt14" target="_blank"><i class="fab fa-github"></i></a>
                <a href="https://www.instagram.com/smithavt14" target="_blank"><i class="fab fa-instagram"></i></a>
                <a href="https://www.linkedin.com/in/smithavt14/" target="_blank"><i class="fab fa-linkedin"></i></a>
                <i class="fab fa-weixin alex-wechat"></i>
              </div>
            </div>
            <div class="footer-developer-details-calvin">
              <a href="#">Calvin Cheung</a>
              <div class="footer-links">
                <a href="https://github.com/calvchum"><i class="fab fa-github"></i></a>
                <a href="https://www.instagram.com/calvchum"><i class="fab fa-instagram"></i></a>
                <a href="https://www.linkedin.com/in/calvin-cheung-204315b8/"><i class="fab fa-linkedin"></i></a>
                <i class="fab fa-weixin alex-wechat"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>