<div class="footer">
  <div class="footer-inner">
    <div class="footer-columns">
      <div class="footer-column-logo">
        <a href="/"><strong>prep</strong>Club</a>
      </div>
      <div class="footer-column-developers">
        <div class="footer-h3">
          <span>About the developers</span>
        </div>
        <div class="footer-developer-details">
          <br>
          <a href="#" style>Alex Smith</a>
          <div class="footer-links">
            <a href="#"><i class="fab fa-github"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-linkedin"></i></a>
          </div>
          <br>
          <a href="#">Calvin Cheung</a>
          <div class="footer-links">
            <a href="#"><i class="fab fa-github"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-linkedin"></i></a>
          </div>
        </div>
      </div>
      <div class="footer-column-contact">
        <div class="footer-h3">
          <span>Contact us</span>
        </div>
        <div class="footer-contact-details">
          <br>
          <p>1 (877) 227-3631</p>
          <p>hello@prepclub.com</p>
        </div>
      </div>
      <div class="footer-about-us">
        <div class="footer-h3">
          <span>About us</span>
          <br>
          <br>
          <p>Two fullstack developers created this website in the span of two weeks. For employment enquiries, please contact us on social media.</p>
        </div>
      </div>
    </div>
  </div>
</div>