<div class="col col-xs-12 col-sm-6 col-lg-4">
  <div class="card_prep-body">
    <div class="card_prep-photo" style="background-image: url('https://greatist.com/sites/default/files/Chicken%20Meal%20Prep.jpg')">
      <div class="card_avatar-sm" style="background-image: url('https://thumbnails.aaehq.com/t_face_s70/https://speakerdata2.s3.amazonaws.com/photo/image/801143/adam-sandler-1.png'); background-size: cover"></div>
    </div>
    <div class="card_tags">
      tag1 | tag2 | tag3
    </div>
    <div class="card_prep-name">
      <h1><strong>prep.name</strong></h1>
    </div>
    <div class="card_prep-description">
      <p>I’ve been craving some soba noodles lately! Any fellow Vegans want to join me to make this week’s lunch? I’ve got all the cooking utensils but please BYO container.</p>
    </div>
    <div class="card_prep-location-participants">
      <p>Jing'An Temple | 4 preppers</p>
    </div>
  </div>
</div>