<div class="landing_banner" style="background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.05) 99.99%, rgba(255, 255, 255, 0) 100%), url('<%= image_path 'bannerimage.jpg' %>');">
  <div class="landing_banner-container">
    <h1 style="text-align: center">Cook food. Make friends.</h1>
    <p style="margin-bottom: 50px">Making meal prep easy, fun and social</p>
    <%= link_to "Browse upcoming preps", preps_path, class:"btn_fat" %>
  </div>
</div>
<div class="landing_wrapper-review">
  <div class="landing_wrapper-review_container">
    <div style="text-align: center; margin-bottom: 10px"><%= image_tag '5stars.svg' %></div>
    <div><i>"Fantastic way to meet new people and make delicious food"</i></div>
    <div style="text-align: center;"><strong>Dounan H.</strong></div>
  </div>
</div>
<div class="landing_wrapper-about">
  <div class="landing_container">
    <div class="row">
      <div class="col col-xs-12  col-sm-4">
        <div class="landing_card-about">
          <div class="landing_card-about-icon">
            <i class="fas fa-search"></i>
          </div>
          <div class="landing_card-about-title">
            <strong>Find</strong>
            <div class="landing_card-about-body">
              <p>Find meal prepping events near you.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col col-xs-12  col-sm-4">
        <div class="landing_card-about">
          <div class="landing_card-about-icon">
            <i class="fas fa-check"></i>
          </div>
          <div class="landing_card-about-title">
            <strong>Book</strong>
          </div>
          <div class="landing_card-about-body">
            <p>Sign up for an event that fits your needs.</p>
          </div>
        </div>
      </div>
      <div class="col col-xs-12  col-sm-4">
        <div class="landing_card-about">
          <div class="landing_card-about-icon">
            <i class="fas fa-plus"></i>
          </div>
          <div class="landing_card-about-title">
            <strong>Host</strong>
          </div>
          <div class="landing_card-about-body">
            <p>Create your own meal prepping event and invite your friends!</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="landing_info-banner" style="background-image: url('https://www.avantgardevegan.com/wp-content/uploads/2017/10/FullSizeRender.jpg');">
</div>