.btn_fat {
  padding: 17px 12px;
  background-color: #F1574B;
  color: white;
  border-radius: 50px;
  border: solid #F1574B;
  width: 51%;
  a {
  text-decoration: none;
  margin-top: 50px;
  }
  &:hover {
  color: #F1574B;
  text-decoration: none;
  background-color: white;
  border: solid #F1574B;
  }
}

.btn_skinny {
  padding: 8px 31px;
  background-color: #F1574B;
  color: white;
  border-radius: 50px;
  border: solid #F1574B;
}

.btn_skinny:hover {
  color: #F1574B;
  text-decoration: none;
  background-color: white;
  border: solid #F1574B;
}

.btn_square-red {
  padding: 15px 48px;
  background-color: #F1574B;
  color: white;
  border-radius: 5px;
  border: solid #F1574B;
}

.btn_square-red:hover {
  padding: 15px 48px;
  background-color: white;
  color: #F1574B;
  border-radius: 4px;
  border: solid #F1574B;
  text-decoration: none;
}

.btn_square-faded {
  padding: 15px 48px;
  background-color: white;
  color: #C4C4C4;
  border-radius: 4px;
  border: solid #C4C4C4;
}

.btn_square-faded:hover {
  text-decoration: none;
  padding: 15px 48px;
  background-color: white;
  color: #C4C4C4;
  border-radius: 4px;
  border: solid #C4C4C4;
}
