.footer {
  background-color: #2A2632;
  color: white;
  position: absolute;
  bottom: 0;
  width: 100vw;
  align-items: left;
  justify-content: space-between;
  padding: 0px 50px;
}

.footer-inner {
  margin: auto;
  max-width: 1200px;
  overflow: hidden;
}

.footer-columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 15px 0;
  justify-content: space-between;
  p {
    font-size: 12px;
  }
}

.footer-column-developers {
}

.footer-h3 span {
  border-bottom: 2px solid #f1574b;
  display: inline-block;
  padding-bottom: 3px;
}

.footer-developer-details {
  display: flex;
  margin: 10px 0;
  a {
    text-decoration: none;
    color: white;
  }
  a:hover {
    color: white;
    text-decoration: none;
  }
}

.footer-developer-details-alex {
  margin: 0 30px 0 0;
}

.footer-links {
  display: flex;
  margin-top: 10px;
  align-items: center;
}
.footer-links a {
  color: white;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0 20px 0 0;
}

.alex-wechat {
  color: white;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0 20px 0 0;
}

.alex-wechat:hover {
  opacity: 1;
}

.footer-links a:hover {
  opacity: 1;
}

.footer-column-logo {
  flex: 0 0 26%;
  float: left;
  font-size: 54px;
  a {
    color: white;
    text-decoration: none;
  }
  a:hover {
    color: white;
    text-decoration: none;

  }
}
