.form-login {
  background: white;
  padding: 10px 20px;
  margin-top: 30px;
  border-radius: 3px;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
  h2 {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: center;
  }
  .btn {
    width: 100%;
    margin-bottom: 20px;
  }
}

.form-title {
  text-align: center;
}

.form-signup {
  background: white;
  padding: 10px 20px;
  margin-top: 30px;
  border-radius: 3px;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
  h2 {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: center;
  }
  .btn {
    width: 100%;
    margin-bottom: 20px;
  }
}

.form-change-password {
  background: white;
  padding: 10px 20px;
  margin-top: 30px;
  border-radius: 3px;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
  h2 {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: center;
  }
  .btn {
    width: 100%;
    margin-bottom: 20px;
  }
}

.form-container {
  width: 70%;
}
.form-new-prep {
  background: #F6F3F0;
  // border: 10px solid white;
  padding: 10px 20px;
  margin-top: 30px;
  border-radius: 15px;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
  h2 {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: center;
  }
  .btn {
    width: 100%;
    margin-bottom: 20px;
   }
   a {
    color: #F1574B;
   }
}

.form-new-wrapper {
  background-image: url('https://images.pexels.com/photos/349609/pexels-photo-349609.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
  background-size: cover;
  min-height: 95vh;
  width: 95vw;
  display: flex;
  justify-content: space-around;
  padding: 4vh;
  border-radius: 15px;
  margin: 2.5vw;
}

.form-new-prep-title {
  color: white;
  font-weight: bolder;
  font-size: 80px;
  text-shadow: 1px 1px 13px rgba(0, 0, 0, 0.2);
}

.form-new-prep-button {
  display: flex;
  justify-content: space-around;
  margin-top: 25px;
}

#search-recipe {
  color: #F1574B;
}

.prep_recipe_name {
  margin: 10px 0;
}


